/******************************************************************
Site Name: 
Author: 

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}
.home {}                            /* home page */
.blog {}                            /* blog page */
.archive {}                         /* archive page */
.date {}                            /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                          /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                        /* 404 page */
.single {}                          /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                      /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                          /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                        /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                             /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                   /* custom page template page */
	.page-template-page-front-php {
		#taglinebar {
			background: url('../images/taglinebar_bg_tab_wide.png') repeat-x top;
			//padding-top: 3.6px;
			height: 366px;
			width: 100%;			
			#inner-taglinebar {
				background: url('../images/taglinebar_tab_wide.jpg') no-repeat scroll 50% 3px;
				height: 352px;
				width: auto;
			}
		}
		#summary {
			width: inherit;
			padding-bottom: $twocol;
			.firstcol {
				margin-left: $threecol;
				padding-bottom: 0;
			}
			.lastcol {
				margin-left: $margin + $margin + $margin;
			}
		}
		#sidebar-blog-block {
			#inner-sidebar-blog-block {	
				width: 616px;
				margin-left: -(616px / 2);
				#wrapper-sidebar-blog-block {
					#text-2 {
						text-align: right;
						#twitter_logo {
							background-position: right top;
						}
						.textwidget {
						}			
					}		
					#recent-posts-plus-2 {
						display: block;
						float: left;
						margin-left: 24px;
						.recentpostswidget {
						}
						#blog_logo {
							background: url('../images/blog_tab.png') no-repeat left top;
							height: 65px;
							padding-bottom: 1.5em;
						}
						#blog_text {
							width: 296px;
						}	
						.widgettitle {
							display: none;
						}
					}
				}
			}
		}		
	}
	.page-template-page-php {}     /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}
	.page-child {}
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                       /* if user is logged in */
.paged {}                           /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1096px;
}

.onecol    { width: 5.109489%;  } /* width 56px  / grid_1  */
.twocol    { width: 12.408759%; } /* width 136px / grid_2  */
.threecol  { width: 19.708029%; } /* width 216px / grid_3  */
.fourcol   { width: 27.007299%; } /* width 296px / grid_4  */
.fivecol   { width: 34.306569%; } /* width 376px / grid_5  */
.sixcol    { width: 41.605839%; } /* width 456px / grid_6  */
.sevencol  { width: 48.905109%; } /* width 536px / grid_7  */
.eightcol  { width: 56.204379%; } /* width 616px / grid_8  */
.ninecol   { width: 63.503649%; } /* width 696px / grid_9  */
.tencol    { width: 70.802919%; } /* width 776px / grid_10 */
.elevencol { width: 78.102189%; } /* width 856px / grid_11 */
.twelvecol { width: 85.401459%; } /* width 936px / grid_12 */
.thirtcol  { width: 92.700729%; } /* width 1016px / grid_13 */
.fourtcol  { width: 100.0%;     } /* width 1096px / grid_14 */

/* layout & column defaults */
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol, .thirtcol, .fourtcol { 
	position: relative;
	float: left; 
	margin-left: 2.189781%;  /* 24px */
}

.first {
	margin-left: 0;
}

.last {
	float: right;
}


/* ============ */
/* = Ellipsis = */
/* ============ */
.ellipsis {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	@include css-transition(all,0.25s,ease);		
}


/*********************
HEADER SYTLES
*********************/

#inner-header {
	ul {
		font-size: 18px;
		li {
			margin: 0 .85em;
		}
	}
}

.header {
	background: url('../images/header_bg_wide_tab.png') repeat-x top;
	height: 140px;
}

	#logo {
		margin-top: 30px;		
		a {
			background: url('../images/logo_wide_tab.png') no-repeat top;
			height: 33px;
			width: 362px;
			margin-left: -181px;
		}
	}
	
/*********************
NAVIGATION STYLES
*********************/

// .nav {
// 	background: #eee; 
// 	border: 0;
			
// 	li {
// 		float: left;
// 		position: relative;
				
// 		a {
// 			border-bottom: 0;
					
// 			/*
// 			you can use hover styles here even though this size
// 			has the possibility of being a mobile device.
// 			*/
// 			&:hover, &:focus {
// 				background-color: #dedede;
					
// 			}
// 		}
				
// 		&:first-child {}
// 		&:last-child {}
				
// 		/*
// 		plan your menus and drop-downs wisely.
// 		*/
// 		ul.sub-menu,
// 		ul.children {
// 			width: 200px;
// 			border: 1px solid #ccc;
// 			border-top: 0;
// 			position: absolute;
// 			display: none;
// 			z-index: 8999;
						
// 			li {
		
// 				a {
// 					padding-left: 10px;
// 					border-right: 0;
// 					display: block;
// 					width: 180px;
// 					border-bottom: 1px solid #ccc;
							
// 					&:hover,
// 					&:focus {}
		
// 					&:link {}
// 				}
		
// 				&:first-child {}
	
// 				&:last-child {
		
// 					a {
// 						border-bottom: 0;
// 					}
// 				}
						
// 				/*
// 				if you need to go deeper, go nuts
// 				just remember deeper menus suck
// 				for usability. k, bai.
// 				*/
// 				ul {}
// 			}
					
// 			/* highlight sub-menu current page */
// 			li.current-menu-item, 
// 			li.current_page_item,
// 			li.current-page-ancestor {
// 				a {}
// 			}
// 		}
				
// 		/* showing sub-menus */
// 		&:hover ul {
// 			top: auto;
// 			display: block;
// 		}
				
// 	} /* end .menu ul li */
			
// 	/* highlight current page */
// 	li.current-menu-item, 
// 	li.current_page_item,
// 	li.current-page-ancestor {
// 		a {}
// 	}  /* end current highlighters */
	
// } /* end .nav */
	
/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		//border-bottom: 2px solid #444;
		//margin-bottom: 0.75em;
	}

	.widget {
		//padding: 0 10px;
		//margin: 2.2em 0;
		
		ul {
			li {
				//margin-bottom: 0.75em;
				
				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */
				
				ul {
					//margin-top: 0.75em;
					//padding-left: 1em;
				}
			}
		}
	}

	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}
	
	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}
	
	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}
	
	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}
	
	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {} 
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}
	
	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}
	
	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}
	
	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {} 
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}
	
	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}
	
	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}
	
	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}

/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/* 
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

#page-footer {
	#inner-footer {
		#attribution-links {
			background: none;
			height: auto;
			position: static;
			margin: 0;
			padding: 0;		
			ul {
				li {
					&:first-child {
						&::before {
							content: "\25AA";
							margin: 0 4px 0 0;
						}
					}	
				}
				#fatcatch-credit {
					&::after {
						content: none;
					}				
				}
				#html5-logo-wrapper {
					a {
						border-bottom: none;
						text-indent: 105%; // Mac Firefox exposes edge of text when indent = 100%
						white-space: nowrap;
						overflow: hidden;
						position: absolute;
						margin-top: 25px;
						margin-left: -87px; /* 1/2 width of element to be centered in px */
						left: 50%;
						background: url('../images/html5_logo.png') no-repeat top;
						width: 173px;
						height: 39px;
						&:hover {
							opacity: 0.75;
						}
					}
				}			
			}			
		}
	}
}

