/******************************************************************
Site Name: 
Author: 

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}
.home {}                            /* home page */
.blog
{
	#content
	{
		#inner-content
		{
			#main
			{
				//min-width: $sixcol;
				width: $sevencol; //$sixcol; //456px
				min-width: 320px;
				.blog-feed
				{
					span
					{
						//margin-bottom: -2px;
					}
				}
				.post
				{
					.post-content
					{
						.img_header
						{
							margin: 0 auto 1.25em auto;
							display: block;
							width: 320px;
							height: 198px;
						}
					}
				}
				.divider
				{
					//width: 344px;
				}
			}
		}
	}
}                            /* blog page */
.archive {}                         /* archive page */
.date {}                            /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search
{
	#content
	{
		#inner-content
		{
			#main
			{
				width: $sevencol; //$sixcol; //456px
				min-width: 320px;
				#page-header {
					.page-header-image {
						width: 123px;
					}
				}
			}
		}
	}
}                          /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error503 {
	#inner-header
	{
		h1
		{
			margin-top: 60px;
		}
	}
	#content
	{
		#inner-content
		{
			#main
			{
				width: $sevencol; //$sixcol; //456px
				min-width: 320px;
				#page-header {
					.page-header-image {
						//width: 118px;
					}
				}
			}
		}
	}
}
.error404 {
	#content
	{
		#inner-content
		{
			#main
			{
				width: $sevencol; //$sixcol; //456px
				min-width: 320px;
				#page-header {
					.page-header-image {
						width: 118px;
					}
				}
			}
		}
	}
}                        /* 404 page */
.single {}                          /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                      /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                          /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                        /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                             /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                   /* custom page template page */
	.page-template-page-front-php {
		#taglinebar {
			background: url('../images/taglinebar_bg_tab_wide.png') repeat-x top;
			//padding-top: 3.6px;
			height: 366px;
			width: 100%;			
			#inner-taglinebar {
				background: url('../images/taglinebar_tab_wide.jpg') no-repeat scroll 50% 3px;
				height: 352px;
				width: auto;
			}
		}
		#content
		{
			#inner-content
			{
				#main-text
				{
					width: inherit;
					.acolumn {
						width: $fourcol;		
						position: relative;
						float: left;			
					}
					#firstcol {
						margin-left: ($twocol + $margin);
						padding-bottom: 0;
					}
					#lastcol {
						margin-left: ($margin + $twocol + $margin);
					}
				}
			}
		}
		#sidebar-blog-block {
			#inner-sidebar-blog-block {	
				width: 616px;
				margin-left: -(616px / 2);
				#wrapper-sidebar-blog-block {
					#text-2 {
						text-align: right;
						#twitter_logo {
							background-position: right top;
						}
						.textwidget {
						}			
					}		
					#recent-posts-plus-2 {
						display: block;
						float: left;
						margin-left: 24px;
						text-align: left;
						.recentpostswidget {
						}
						#blog_logo {
							background: url('../images/blog_tab.png') no-repeat left top;
							height: 65px;
							padding-bottom: 1.5em;
						}
						#blog_text {
							width: 296px;
						}	
						.widgettitle {
							display: none;
						}
					}
				}
			}
		}		
	}
	.page-template-page-about-php {
		#main {
			#main-text {
				width: $sevencol;
				//width: $sixcol;
				min-width: 320px;
				#img-portrait {
					height: 213px;
					background: url('../images/portrait_tab_wide.jpg') no-repeat center top;
				}
			}
		}
	}
	.page-template-page-contact-php {
		#main {
			#main-text {
				width: 65px + 48px + 308px; // image + gutter + textareas 
				// div.wpcf7 {
				// 	width: 296px;
				// 	float: right;
				// }
				#vert-divider {
					float: left;
					width: 65px;
					padding-right: 24px;
					border-right: 2px solid;
					// border-right-color: lighten($text-gray, 20%);
					border-right-color: lighten($soft-gray, 15%);
				}						
				.wpcf7-submit {
					@extend .button;
					margin-left: -12px;
					line-height: 1.5em;
					max-height: 2em;
				}
				.group-wrapper {
					width: 100%;
					//margin-bottom: 3em;
					//position: relative;					
					display: table;
					//display: inline-block;
					table-layout: fixed;
					#img-atsign {
						height: 65px;
						//width: 65px;
						background: url('../images/atsign_mob_tab.png') no-repeat right 1em;
						//margin: 0 1.5em 0 0;
						//float: right;											
					}
					#img-twitter, #img-dribbble, #img-envelope {
						background-position: center right;
					}
					.contact-icons {
						width: 65px;
						//margin: 0 1.5em 0 0;
						//float: right;
						vertical-align:	middle;
						display: table-cell;
						table-layout: fixed;
					}
					.text-wrapper, div.wpcf7 {
						text-align: left;
						//position: relative;
						//right: 0;
						vertical-align:	middle;
						//margin: 0 0 0 1.5em;
						//padding: 0;
						display: table-cell;
						//table-layout: fixed;
						//padding-left: 24px;
						width: 296px;
						//padding-left: 1.5em;
						padding-left: 48px // gutter
						//float: right;
					}
					.text-wrapper {
						//padding: 0;
						height: 8em;
						h1 {
							text-align: left;
							margin: 0;
							//padding-left: 12px;
							//margin-top: 2em;
						}
						p {
							//padding-left: 12px;
						}
					}
				}
				.wpcf7-text, .wpcf7-textarea {
					margin-left: -12px;
					width: 303px;
					border: none;
					@include box-shadow(0 1px 2px 1px $soft-gray inset);

				}
				label.fieldlabel {
					padding-left: 0;
				}
				span.wpcf7-not-valid-tip {
					left: -12px;
					top: -22p x;
				}
				span.wpcf7-not-valid-tip-no-ajax {
					padding: 0;
				}
			}
		}
	}
	.post-type-archive-portfolio_item {
		#sidebar-clients
		{
			float: none;
			width: 416px; //392px; //416px;
			.divider
			{
				//width: 344px;
			}
			.button
			{
				float: left;
				width: 178px; //166px;
				display: block;
				margin: 0 12px .5em 12px;
				padding-left: 0;
				padding-right: 0;
				line-height: 1.5em; //21px;
				max-height: 1.5em;
				//line-height: 17px;
			}
		}
		#content
		{
			#inner-content
			{
				#main
				{
					min-width: 505px; //481px;
					margin: 0 auto 0;
					float: none;
					.type-portfolio_item
					{
						background: url('../images/clients_window_bg_tab.jpg') repeat-x top;
						width: 504px; //498px; //499px;
						height: 311px; //308px; //290px;
						border-radius: 5px 24px 24px 5px / 5px 155px 155px 5px;
						-moz-border-radius: 5px 24px 24px 5px / 5px 155px 155px 5px;				
						.article-container
						{
							//display: table;
							//table-layout: fixed;
							width: 504px; //475px;
							.article-header
							{
								h2
								{
									max-height: 1.55em;
								}
							}
							.views_window
							{
								margin: 1.5em 0; //margin: 23px 0;
								height: 135px;// + 66px;
								//margin-top: -56px;
								.post-content
								{
									width: 504px;//480px; //472px;
									ul
									{
										li
										{
											margin-left: 12px;
											height: 143px;
											//padding-top: 66px;
											.acolumn
											{
												height: 135px;
												width: 216px;
												margin: 0 12px;
												&:first-of-type
												{
													margin-bottom: 0px;
												}
												&.textcol
												{
													//height: 135px;
												}
											}
										}
									}
								}
							}
							.nav_dots_wrapper
							{
								height: 100%;
								position: absolute;
								top: 0;
								right: 0; //-18px;
								display: table;
								.nav_dots
								{
									//display: none;
									//float: right;
									//height: 100%;
									//height: 308px;

									display: table-cell;
									vertical-align: middle;
									width: 1em;
									//padding-left: 8px;
									//margin: auto;
									//position: absolute;
									//top: 0;
									//bottom: 0;
									//right: 0;
									.nav_dot
									{
										display: block;
										padding: .2em 0;
									}
								}
							}					
							.article-footer
							{
								//position: absolute;
								//bottom: 1.5em; //3em;
								//left: 0;
								.divider, ul
								{
									width: 456px; //451px;
								}
								ul
								{
									.taxonomy_terms
									{
										max-height: 3em; //1.5em;
									}
								}
							}
							.link
							{
								position: absolute;
								left: 0;
								bottom: 1.25em;
								.button
								{
									//float: left;
									width: 178px; //166px;
									display: block;
									margin: 0 auto .5em auto;
									padding-left: 0;
									padding-right: 0;
									line-height: 1.5em; //21px;
									max-height: 1.5em;
								}
							}					
							p
							{
									&.hidelink
									{
										bottom: 3em;
									}
							}
						}
					}
					&>.divider
					{
						width: 344px;
					}	
				}
			}
		}

	}
	.page-template-page-php {}     /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}
	.page-child {}
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                       /* if user is logged in */
.paged {}                           /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1096px;
}

.onecol    { width: 5.109489%;  } /* width 56px  / grid_1  */
.twocol    { width: 12.408759%; } /* width 136px / grid_2  */
.threecol  { width: 19.708029%; } /* width 216px / grid_3  */
.fourcol   { width: 27.007299%; } /* width 296px / grid_4  */
.fivecol   { width: 34.306569%; } /* width 376px / grid_5  */
.sixcol    { width: 41.605839%; } /* width 456px / grid_6  */
.sevencol  { width: 48.905109%; } /* width 536px / grid_7  */
.eightcol  { width: 56.204379%; } /* width 616px / grid_8  */
.ninecol   { width: 63.503649%; } /* width 696px / grid_9  */
.tencol    { width: 70.802919%; } /* width 776px / grid_10 */
.elevencol { width: 78.102189%; } /* width 856px / grid_11 */
.twelvecol { width: 85.401459%; } /* width 936px / grid_12 */
.thirtcol  { width: 92.700729%; } /* width 1016px / grid_13 */
.fourtcol  { width: 100.0%;     } /* width 1096px / grid_14 */

/* layout & column defaults */
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol, .thirtcol, .fourtcol { 
	position: relative;
	float: left; 
	margin-left: 2.189781%;  /* 24px */
}

.first {
	margin-left: 0;
}

.last {
	float: right;
}


/* ============ */
/* = Ellipsis = */
/* ============ */
.ellipsis {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	@include css-transition(all, 0.25s, ease);
}
a.img_link, a.img_link:visited {
	img
	{
	@include css-transition(all, 0.25s, ease);
	}	
}

/*********************
BUTTONS
*********************/

.button, .button:visited {
	//font-family: $sans-serif;
	font-family: TitilliumBold;
	//border: 1px solid darken($link-red, 13%);
	border: 3px solid white;
	//border-top-color: darken($link-red, 7%);
	//border-left-color: darken($link-red, 7%);
	padding: 1px .6em 0; //6px;
	color: $link-red;
	//display: inline-block;
	font-size: .8em; //11px;
	//font-weight: bold;
	text-decoration: none;
	//text-shadow: 0 1px rgba(0,0,0, .75);
	cursor: pointer;
	//margin-bottom: 20px;
	// line-height: 1.5em; //21px;
	// max-height: 1.5em;
	overflow: hidden;
	@include rounded(5px);
	@include css-gradient(white, lighten($soft-gray, 35%));
	@include box-shadow(0 1px 2px 1px $soft-gray);


	&:hover, &:focus {
		//color: $white;
	  	//border: 1px solid darken($link-red, 13%);
	  	//border: 3px solid $link-red;
	  	//border-top-color: darken($link-red, 20%);
	 	//border-left-color: darken($link-red, 20%);
		@include css-gradient(lighten($soft-gray, 35%), white);
	}
	
	&:active {
		//@include css-gradient(darken($link-red, 5%), $link-red);
		color: darken($link-red, 7%);
		border-top-color: darken(white, 10%);
		border-left-color: darken(white, 6%);
		border-right-color: darken(white, 6%);
		@include box-shadow(0 0 2px 0 $soft-gray);
	}	
}

// .blue-button, .blue-button:visited {
// 	border-color: darken($logo-blue, 10%);
// 	text-shadow: 0 1px 1px darken($logo-blue, 10%);
// 	@include css-gradient( $logo-blue, darken($logo-blue, 5%) );
// 	-webkit-box-shadow: inset 0 0 3px lighten($logo-blue, 16%);
//        -moz-box-shadow: inset 0 0 3px lighten($logo-blue, 16%);
//    	        box-shadow: inset 0 0 3px lighten($logo-blue, 16%);
// 	&:hover, &:focus {
// 		border-color: darken($logo-blue, 15%);
// 		@include css-gradient( darken($logo-blue, 4%), darken($logo-blue, 10%) );
// 	}
// 	&:active {
// 		@include css-gradient( darken($logo-blue, 5%), $logo-blue );
// 	}
// }


/*********************
HEADER SYTLES
*********************/

#inner-header {
	ul {
		font-size: 18px;
		.menu-item
		{
			@include css-transition(background-size, .25s);
			a
			{
				//@include css-transition(none);
			}
		}
		li {
			margin: 0 .85em;
		}
	}
	nav
	{
	}
}

.header {
	background: url('../images/header_bg_wide_tab.png') repeat-x top;
	height: 140px;
}

	#logo {
		margin-top: 30px;		
		a {
			background: url('../images/logo_wide_tab.png') no-repeat top;
			height: 33px;
			width: 362px;
			margin-left: -181px;
		}
	}
	
/*********************
NAVIGATION STYLES
*********************/

// .nav {
// 	background: #eee; 
// 	border: 0;
			
// 	li {
// 		float: left;
// 		position: relative;
				
// 		a {
// 			border-bottom: 0;
					
// 			/*
// 			you can use hover styles here even though this size
// 			has the possibility of being a mobile device.
// 			*/
// 			&:hover, &:focus {
// 				background-color: #dedede;
					
// 			}
// 		}
				
// 		&:first-child {}
// 		&:last-child {}
				
// 		/*
// 		plan your menus and drop-downs wisely.
// 		*/
// 		ul.sub-menu,
// 		ul.children {
// 			width: 200px;
// 			border: 1px solid #ccc;
// 			border-top: 0;
// 			position: absolute;
// 			display: none;
// 			z-index: 8999;
						
// 			li {
		
// 				a {
// 					padding-left: 10px;
// 					border-right: 0;
// 					display: block;
// 					width: 180px;
// 					border-bottom: 1px solid #ccc;
							
// 					&:hover,
// 					&:focus {}
		
// 					&:link {}
// 				}
		
// 				&:first-child {}
	
// 				&:last-child {
		
// 					a {
// 						border-bottom: 0;
// 					}
// 				}
						
// 				/*
// 				if you need to go deeper, go nuts
// 				just remember deeper menus suck
// 				for usability. k, bai.
// 				*/
// 				ul {}
// 			}
					
// 			/* highlight sub-menu current page */
// 			li.current-menu-item, 
// 			li.current_page_item,
// 			li.current-page-ancestor {
// 				a {}
// 			}
// 		}
				
// 		/* showing sub-menus */
// 		&:hover ul {
// 			top: auto;
// 			display: block;
// 		}
				
// 	} /* end .menu ul li */
			
// 	/* highlight current page */
// 	li.current-menu-item, 
// 	li.current_page_item,
// 	li.current-page-ancestor {
// 		a {}
// 	}  /* end current highlighters */
	
// } /* end .nav */

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	#page-header {
		display: table;
		margin: 0 auto 4em auto;
		.page-header-image {
			//background-position: top right;
			width: 115px;
			display: table-cell;
		}
		.page-header-text {
			text-align: left;
			position: relative;
			margin-left: 24px;
			margin-bottom: 0;
			h1 {
				margin: 16px 0 0 0;
			}
		}
	}
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		//border-bottom: 2px solid #444;
		//margin-bottom: 0.75em;
	}

	.widget {
		//padding: 0 10px;
		//margin: 2.2em 0;
		
		ul {
			li {
				//margin-bottom: 0.75em;
				
				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */
				
				ul {
					//margin-top: 0.75em;
					//padding-left: 1em;
				}
			}
		}
	}

	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}
	
	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}
	
	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}
	
	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}
	
	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {} 
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}
	
	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}
	
	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}
	
	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {} 
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}
	
	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}
	
	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}
	
	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


//  =====================
//  = My sidebar styles =
//  =====================

#sidebar1
{
	float: none;
	width: 416px;
	.button
	{
		float: left;
		width: 178px; //166px;
		display: block;
		margin: 0 12px .5em 12px;
		padding-left: 0;
		padding-right: 0;
		line-height: 1.5em; //21px;
		max-height: 1.5em;
	}
}

// Search forms
#searchform
{
	input
	{
		&.search_window
		{
			border: none;
			@include box-shadow(0 1px 2px 1px $soft-gray inset);
		}
	}
}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/* 
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

#page-footer {
	#inner-footer {
		#attribution-links {
			background: none;
			height: auto;
			position: static;
			margin: 0;
			padding: 0;		
			ul {
				li {
					&:first-child {
						&::before {
							content: "\25AA";
							margin: 0 4px 0 0;
						}
					}	
				}
				#fatcatch-credit {
					&::after {
						content: none;
					}				
				}
				#html5-logo-wrapper {
					position: absolute;
					margin-top: 25px;
					margin-left: -( 172px / 2 ); /* 1/2 width of element to be centered in px */
					left: 50%;
					background: url('../images/footer_splash.png') no-repeat top;
					height: 37px;
					width: 172px;
					a {
						//text-indent: 105%; // Mac Firefox exposes edge of text when indent = 100%
						//white-space: nowrap;
						//overflow: hidden;
						// position: absolute;
						// margin-top: 25px;
						//margin-left: -87px; /* 1/2 width of element to be centered in px */
						// margin-left: -( 30px / 2 ); /* 1/2 width of element to be centered in px */
						// left: 50%;
						//background: url('../images/html5_logo.png') no-repeat top;
						//width: 173px;
						//height: 39px;
						
						font-size: 30px;
						border-bottom: none;

						span
						{
							// .visuallyhidden
							border: 0;
							clip: rect(0 0 0 0);
							height: 1px;
							margin: -1px;
							overflow: hidden;
							padding: 0;
							position: absolute;
							width: 1px;
						}

						&:hover {
							opacity: 0.75;
						}
						&::before
						{
							display: inline;
						}
					}
				}			
			}			
		}
	}
}

