/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	background: url('../images/paper_texture.jpg');
	// font: 18px/25px MetrophobicRegular,'Lucida Sans',sans-serif;
	font: 14px/23px MetrophobicRegular,'Lucida Sans',sans-serif;
	//font-size-adjust: 0.709375; // Firefox only; this is not correct value
/*  color: rgba(77,86,93,1); where did this color come from?*/
	color: $text-gray;  
	text-shadow: 0 1px 0 #fff;
}

// MetrophobicRegular webfont has no bold
strong {
	vertical-align: -7%;
	line-height: 80%;
	letter-spacing: .05em;
	font-size: 120%;
}

abbr {
	border-bottom: none !important;
}

// fade in from transparent
@keyframes fadein
{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-moz-keyframes fadein
{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes fadein
{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-o-keyframes fadein
{
	0% {opacity: 0;}
	100% {opacity: 1;}
}

// increase height from 0
@keyframes growin
{
	0% {background-size: 100% 0;}
	100% {background-size: 100% 6px;}
}
@-moz-keyframes growin
{
	0% {background-size: 100% 0;}
	100% {background-size: 100% 6px;}
}
@-webkit-keyframes growin
{
	0% {background-size: 100% 0;}
	100% {background-size: 100% 6px;}
}
@-o-keyframes growin
{
	0% {background-size: 100% 0;}
	100% {background-size: 100% 6px;}
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog
{
	.blog-title
	{
		margin-bottom: 0;
	}
	.blog-feed
	{
		text-align: center;
		margin-top: 0;
		span
		{
			color: $soft-gray;
			position: relative;
			top: .1em;
		}
		a
		{
			margin-left: 5px;
		}
	}
}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}              /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}            /* search result page */
	.search-no-results {}         /* no results search page */
	.search-paged-1 {}            /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                  /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}            /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}            /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}      /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}           /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}            /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}          /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                  /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}               /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-front-php {
		#taglinebar {
			background: url('../images/taglinebar_bg_mob.png') repeat-x top;
			//padding-top: 3.6px;
			height: 249px;
			width: 100%;
			#inner-taglinebar {
				background: url('../images/taglinebar_mob.png') no-repeat scroll 50% 3px;
				height: 236px;
				width: auto;
			}           
		}
		#main-text {
			// font-size: 14px;
			// line-height: 23px;   
			text-align: justify;
			text-justify: newspaper;
			width: 296px;
			margin: 0 auto;
			padding: 5em 0;
			h1 {
				margin: .25em 0 1.5em 0;
				text-align: center;
				span {
					border-bottom: 0.075em solid;
					// border-bottom-color: lighten($dark-blue, 4%);
					border-bottom-color: lighten($text-gray, 12%);
					padding-bottom: 1px;
					@include box-shadow(0 1px 0 0 #fff);
				}           
			}
			ul {
				list-style: none;
				li {
					position: relative;
					//background: url('../images/bullet_square_mob_tab.png') no-repeat 0 0.65em;
					padding-left: 1em;
					padding-bottom: 1em;
					&::before
					{
					content: "\25AA";
					color: $logo-blue;
					position: absolute;
					top: -.1em;
					left: -1.5em;
					width: 2em;
					text-align: right;
					font-size: 1.25em;
					//margin: 0 2px;
					}
				}
			}
			#firstcol {
				background: url('../images/design_mob_tab.png') no-repeat top center;
				padding-top: 131px;
				// mobile-only
				padding-bottom: 2em;
			}

			#lastcol {
				background: url('../images/development_mob_tab.png') no-repeat top center;
				padding-top: 115px;
				margin-top: 16px;
			}
		}
		#sidebar-blog-block {
			background: url('../images/blog_block_gradient_mob_tab.png') repeat-x top;
			height: 307px;
			width: 100%;
			#inner-sidebar-blog-block {
				height: 300px;
				display: table;
				width: 296px;
				position: absolute;
				left: 50%;
				margin-left: -148px;
				#wrapper-sidebar-blog-block {
					display: table-cell;
					vertical-align: middle;
					//text widget only 
					#text-2 {
						text-align: center;
						float: left;
						.textwidget {
						}
						#twitter_logo {
							background: url('../images/twitter_mob_tab.png') no-repeat top;
							height: 65px;
							padding-bottom: 1.5em;
						}
						#twitter_text {
							width: 296px;
						}
					}
					//recent posts widget only
					#recent-posts-plus-2 {
						display: none;
					}
					#text-2, #recent-posts-plus-2  {
						color: $text-white;
						text-shadow: none;
						font-size: 14px;
						line-height: 23px;
						padding: 0;
						p, li {
							margin-bottom: 0;
						}
						.widget-header {    
							font-size: 28px;
							padding-bottom: 9px;
							a {
								text-decoration: none;
								border-bottom: 2px solid;
								border-bottom-color: darken($text-white, 15%);
								padding-bottom: 1px;            
							}
						}           
					}
				}
			}
		}
		#page-footer
		{
			padding-top: 1em;
		}
	}
	.page-template-page-about-php {
		#main {
			#main-text {
				width: 296px;
				margin: 6em auto;
				h1 {
					text-align: center;
					margin-top: .25em;
				}
				#img-portrait {
					height: 197px;
					background: url('../images/portrait_mob.jpg') no-repeat center top;
				}
			}
		}
	}
	.page-template-page-contact-php {
		#main {
			#main-text {
				margin: 6em auto;
				width: 296px;
				line-height: 1.5em;
				div.wpcf7 {
					//margin: 2em 0 0;
					padding: 0;
				}
				#page-header {
					#img-contact {
						height: 131px;
						margin-top: -16px;
						background: url('../images/contact_mob_tab.png') no-repeat center top;                  
					}
				}
				.group-wrapper {
					margin: 0 0 2em 0;
					#img-twitter {
						height: 65px;
						background: url('../images/twitter2_mob_tab.png') no-repeat center top;
					}
					#img-dribbble {
						height: 65px;
						background: url('../images/dribbble_mob_tab.png') no-repeat center top;
					}
					#img-envelope {
						height: 65px;
						background: url('../images/envelope_mob_tab.png') no-repeat center top;
					}                   
					.text-wrapper {
						text-align: center;
						//margin-top: 1em;
						h1 {
							//text-align: center;
							//margin-left: -12px;
							margin: .25em 0 0.5em 0;
						}
					}
				}
				.group-wrapper:last-child {
					margin-bottom: 0;
				}
				label.fieldlabel {
					padding-left: 12px;
				}
				.wpcf7-text, .wpcf7-textarea {
					padding: 3px 3px 3px 12px;
					width: 279px;
					@include rounded(5px);
					border: 1px inset;
				}
				// .wpcf7 .watermark {
				//  color: $soft-gray
				// }
				.wpcf7-not-valid, div.wpcf7-validation-errors {
					@extend .error;
				}
				span.wpcf7-form-control-wrap {
					position: relative;
				}
				span.wpcf7-not-valid-tip {      
					position: relative;
					top: -24px; //-2.5em;
					left: 0px;
					z-index: 100;
					color: darken($alert-red, 50%);             
					padding: 22px 0 0 12px;
					margin-bottom: -2em;
					font-size: .7em; //10px;
					display: block;         
					background: url('../images/arrow_alert.png') no-repeat left top;
					animation: fadein 1s;
					-moz-animation: fadein 1s;
					-webkit-animation: fadein 1s;
					-o-animation: fadein 1s;
				}
				span.wpcf7-not-valid-tip-no-ajax {
					color: darken($alert-red, 50%); 
					padding: 0 0 0 12px;
					font-size: .7em; //10px;
					display: block;
				}
				div.wpcf7 img.ajax-loader {
					border: none;
					vertical-align: middle;
					margin: 0 0 0 4px;
				}
				div.wpcf7-response-output {
					@extend .alert;
					animation: fadein 1s;
					-moz-animation: fadein 1s;
					-webkit-animation: fadein 1s;
					-o-animation: fadein 1s;
				}
				input.wpcf7-submit {
					//float: right;
				}
				.wpcf7-display-none {
					display: none;
				}
			}
		}   
	}
	.post-type-archive-portfolio_item {
		#main
		{
			margin-top: 0em;
			text-align: center;
			.type-portfolio_item
			{
				background: url('../images/clients_window_bg_mob.jpg') repeat-x top;
				height: 475px;
				width: 290px;
				@include rounded(5px);
				@include box-shadow(0 1px 2px 1px $soft-gray);
				border: 3px solid white;
				margin: 0 auto 2em auto;
				.article-container
				{
					position: relative;
					height: 100%;
					.article-header
					{
						padding: 1em 1em 0 1em;
						position: relative;
						z-index: 99;
						h2
						{
							margin: 0;
							max-height: 3em;
							overflow: hidden;                   
						}
					}
					.views_window
					{
						//width: 100%;
						height: 280px;// + 97px;
						overflow: hidden;
						//margin-top: -87px;
						//position: absolute;
						//top: -5px;
						margin: 14px 0 14px;
						//position: relative;
						// .reset
						// {
						//  position: absolute;
						//  top: 0;
						// }
						.post-content
						{
							width: 236px;
							margin: 0 auto;
							line-height: 19px;
							text-align: left;
							//background: white;
							ul
							{
								position: relative;
								padding: 0;
								margin: 0;
								li
								{
									height: 280px;
									//padding-top: 97px;
									//@include css-transition(all, 1s, ease);
									.acolumn
									{
										margin: 0 10px;
										float: left;
										width: 216px;
										&:first-of-type
										{
											margin-bottom: 10px;
										}
										.img_link
										{
											height: 133px;
										}
										img
										{
											width: 216px;
											height: 133px;
										}
									}
									&:target
									{
										.cssfade
										{
											animation: fadein 1s;
											-moz-animation: fadein 1s;
											-webkit-animation: fadein 1s;
											-o-animation: fadein 1s;
										}
									}
								}
							}
						}
					}
					.nodots
					{
						height: 23px;
					}
					.nav_dots
					{
						//margin-top: 280px + 40px;
						//position: relative;
						//width: 100%;
						//position: absolute;
						//bottom: 0;
						//margin: 0 auto;
						//z-index: 99;
						.selected
						{
							color: lighten($link-red, 15%);
						}
						.nav_dot
						{
							border-bottom: none;
							padding: 0 .2em;
							line-height: 1.3em;
							font-size: .7em;
							overflow: hidden;
							&::before
							{
								content: "\2B24";//"\26AB";//"\25AA";
							}
						}
					}
					.article-footer
					{
						//position: absolute;
						//bottom: 0;
						//left: 0;
						width: 100%;
						//margin-bottom: 1em;
						.divider
						{
							width: 216px;
						}
						ul
						{
							width: 216px;
							margin: 0 auto;
							span
							{
								text-align: center;
								display: inline-block;                          
								max-height: 1.5em; //3em;fnavi
								overflow: hidden;
								font-size: .7em; //10px;
								line-height: 1.5em; //14px;
								margin: 0;
								li
								{
									float: left;
									&::after
									{
										content: "\25AA";
										margin: 0 2px 0 2px;
									}
									&:last-child
									{
										&::after
										{
											/*  bug: use of "inline-block" causes 5px margin between elements that cannot be reset(!) */
											// http://css-tricks.com/fighting-the-space-between-inline-block-elements/
											//margin: 0 0 0 0px;
											content: none;
										}
									}
								}
							}
						}
					}
					.link
					{
						position: absolute;
						width: 100%;
						bottom: 1.5em; //1em;
						margin: 0;
						padding: 0;
					}
					.hidelink
					{
						height: 23px;
						margin: 0;
					}
				}
			}   
			//@media screen and (orientation: landscape) // for testing only
			@media screen and (max-device-width: 640px) and (orientation: landscape)
			{
				min-width: 481px;
				.type-portfolio_item
				{
					background: url('../images/clients_window_bg_mob_landscape.jpg') repeat-x top;
					width: 475px;
					height: 290px;
					.article-container
					{
						.article-header
						{
							h2
							{
								max-height: 1.5em;
							}
						}
						.views_window
						{
							height: 133px;// + 66px;
							//margin-top: -56px;
							.post-content
							{
								width: 472px;
								ul
								{
									li
									{
										height: 143px;
										//padding-top: 66px;
										.acolumn
										{
											&:first-of-type
											{
												margin-bottom: 0px;
											}
										}
									}
								}
							}
						}
						.nav_dots
						{
							//bottom: -8px;
						}
						.article-footer
						{
							.divider, ul
							{
								width: 451px;
							}
							ul
							{
								span
								{
									//max-height: 1.5em;
								}
							}
						}
					}
				}
			}
		}
	}
	.single-portfolio_item
	{
		@extend .post-type-archive-portfolio_item;
	}
	.tax-topics
	{
		@extend .post-type-archive-portfolio_item;
	}
	.page-template-page-php {}    /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}              /* replace the number to the corresponding page number */
	.page-parent {}               /* parent page template */
	.page-child {}                /* child page template */
	.parent-pageid-1 {}           /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                   /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 90%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited
{ 
	color: $link-red;
	text-decoration: none;
	border-bottom: dotted 1px;

	/* on hover */
	&:hover, &:focus {
		color: lighten($link-red, 15%);
		border-bottom-color: rgba(0,0,0,0);
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba(0,0,0,0);
	}
}

a.img_link, a.img_link:visited
{
	border-bottom: none;
	border-left: dotted 2px $link-red;
	padding-left: 2px;
	margin-left: -4px;
	display: block;
	&:hover, &:focus
	{
		border-left-color: rgba(0,0,0,0);
		opacity: .75;
	}
	img
	{
		&:link {
		-webkit-tap-highlight-color : rgba(0,0,0,0);
		}
	}
}

/******************************************************************
TEXT SELECTION STYLES
******************************************************************/

/* Highlighted Text */
::selection, mark { 
	background: $logo-blue;
	color: $white;
	text-shadow: none; 
}

/* Firefox */
::-moz-selection, mark { 
	background: $logo-blue;
	color: $white;
	text-shadow: none; 
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 { 
	// font-family: sans-serif;
	font: 14px/23px TeXGyreHerosBold,'Lucida Sans',sans-serif;
	text-rendering: optimizelegibility;
	//letter-spacing: .05em;
	// font-weight: 500;
	//margin: .25em 0 1em 0;
	
	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 { 
	font-size: 2.4em; 
	line-height: 1.5em;
	margin: 1em 0;
}

h2, .h2 { 
	font-size: 1.5em; 
	line-height: 1.55em; 
	//margin-bottom: 0.375em; 
}

h3, .h3 { 
	//font-size: 1.125em; 
}

h4, .h4 { 
	//font-size: 1.1em; 
	//font-weight: 700; 
}

h5, .h5 { 
	//font-size: 0.846em; 
	//line-height: 2.09em; 
	//text-transform: uppercase; 
	//letter-spacing: 2px; 
}

/*********************
HEADER SYTLES
*********************/

#inner-header {
	text-align: center;
	ul {
		//margin: 10px 0 0 0;
		margin: 0;
		font-size: 13px;
		.current-menu-item {
			border-top: 5px solid $link-red;
			
			// svg image: 'svg' element has no 'height' and 'width' properties and does have 'preserveAspectRatio' and 'viewbox' properties;
			background-image: url('../images/pointer.svg');
			background-position: top;
			background-repeat: no-repeat;
			background-size: 100% 6px;
			animation: growin .25s linear;
			-moz-animation: growin .25s linear;
			-webkit-animation: growin .25s linear;
			-o-animation: growin .25s linear;
		}
		li {
			border-top: 5px solid $dark-blue;
			padding-top: .5em;
			margin: 0 1em;
			a {
				border-bottom: none;
				color: $dark-blue;
				text-decoration: none;
				&:hover {
					opacity: 0.75;
				}
			}
		}
	}
	nav {
		display: inline-block;
	}
}

.header {
	background: url('../images/header_bg_mob.png') repeat-x top;
	height: 113px;
	width: 100%;    
}

	#logo {
		margin-top: 15px;
		a {
			border-bottom: none;            
			background: url('../images/logo_mob.png') no-repeat top;
			height: 24px;
			width: 293px;
			position: absolute;
			left: 50%;
			margin-left: -146px;
			&:hover {
				opacity: 0.75;
			}
		}
	}
	
/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function, this is so we can
easily just write on group of styles for
the navs on the site and our css is cleaner
and moe scalable.
*/

.nav {
	//border: 1px solid #ccc;
	//border-bottom: 0;

	li {
		float: left;
		a {
			//display: block;
			//text-decoration: none;
			//padding: 10px 10px;
			//background-color: #eee;
			//border-bottom: 1px solid #ccc; 
					
			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					//padding-left: 30px;
							
					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	#page-header {
		.page-header-text {
			text-align: center;
			margin-bottom: 2em;
			h1 {
				margin: .25em 0 0.5em 0;
			}
		}
	}
}

		.hentry {

			header {}

			footer {}

		} /* end .hentry */

		.single-title,
		.page-title {}

		.single-title {}

		.page-title, .archive-title, .blog-title
		{
			text-align: center;
			margin-top: 2em;
		}

		.archive-title { }

		/* want to style individual post classes? Booya! */
		.post-id {} /* post by id (i.e. post-3) */
		.post {} /* general post style */
		.page {} /* general article on a page style */
		.attachment {} /* general style on an attatchment */
		.sticky {} /* sticky post style */
		.hentry {} /* hentry class */
		.category-slug {} /* style by category (i.e. category-videos) */
		.tag-slug {} /* style by tag (i.e. tag-news) */

		/* post meta */
		.meta {
			color: #999;

			time {}
		}

		/* post content */
		.post-content {

			p {}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			blockquote {

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				border: 1px solid lighten($soft-gray, 30%);
				//margin: 0 0 1.5em 0;
				//max-width: 100%;
				//height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			video, object {
				max-width: 100%;
				height: auto;
			}

			pre, code {
				background: #eee;
				border: 1px solid #cecece;
				padding: 10px;
			}

		} /* end .post-content */

		.wp-caption {
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}


//  ===========
//  = Divider =
//  ===========

.divider
{
	height: 1px;
	margin: 0 auto;
	border-bottom: 0.075em solid;
	border-bottom-color: lighten($text-gray, 20%);
	@include box-shadow(0 1px 0 0 #fff);
}


/******************************************************************
PAGE NAVI STYLES
******************************************************************/
.page-navigation {
	margin: 1.1em 0;
	//text-align: center;

	.page_navi_mobile
	{
		.bpn-prev-link {
			a {
				//background: url('../images/arrow_left.png') no-repeat 100% 3px;
				//background-position: 100% 3px;
				//padding-right: 20px;
				//margin-left: -.4em;
				//width: auto;
				//border-bottom: none;
				span {
					border-bottom: dotted 1px;
					float: left;
					margin-right: 5px;
				}
			}
		}
		.bpn-prev-nolink {
			//background: url('../images/arrow_left_grey.png') no-repeat 100% 3px;
			//padding-right: 20px;
			//margin-left: -.4em;
			color: $soft-gray;
			margin-top: 2px;
			span
			{
				float: left;
				margin-right: 5px;
			}

		}
		.bpn-next-link {
			a {
				//background: url('../images/arrow_right.png') no-repeat 0 3px;
				//padding-left: 20px;
				//width: auto;
				//border-bottom: none;
				span {
					border-bottom: dotted 1px;
					margin-left: 5px;
					float: right;
				}
			}
		}
		.bpn-next-nolink {
			//background: url('../images/arrow_right_grey.png') no-repeat 0 3px;
			//padding-left: 20px;
			color: $soft-gray;
			margin-top: 2px;
			span
			{
				margin-left: 5px;
				float: right;
			}
		}
	}
}
	.bones_page_navi {
		
		padding: 0;
		margin: 0;
		display: inline-block;

		li {
			float: left;
			margin-right: 5px;
			font-size: 23px;
			line-height: 25px;
			padding-bottom: 3px;        
			//width: 23px;
			a {
				//padding: 0; //3px 6px;
				display: block;
				//text-decoration: none;
				position: relative;

				&:hover,
				&:focus {
					//color: #f01d4f;
					//text-decoration: underline;
				}
			}

		}

		/* current page link */
		li.bpn-current {
			//padding: 3px 6px;
			//padding-right: 6px;
			//border-bottom: 2px solid #f01d4f;
			position: relative;
			//background: url('../images/pager_square.png') no-repeat 0 3px;
			//width: 22px;
			margin-top: 2px;
			color: $soft-gray;
			//margin-left: -6px;
			span
			{
				position: absolute;
				top: -.1em;
				left: .28em;
				color: $text-white;
				text-shadow: none;
			}
			a {
				/* hovering on current page link */
				&:hover,
				&:focus {}

			}

		} /* end .bones_page_navi .bpn-current */

		/* common styles for page-navi links */
		li.bpn-prev-link,
		li.bpn-next-link,
		li.bpn-first-page-link,
		li.bpn-last-page-link {
			//font-weight: 700;
			a {
				border-bottom: none;
				padding-bottom: 3px;                
				//padding: 0;
			}
		}

		/* remove the bg on end links */
		li.bpn-prev-link a:hover,
		li.bpn-next-link a:hover,
		li.bpn-first-page-link a:hover,
		li.bpn-last-page-link a:hover {
			//background: none;
			opacity: 0.75;
		}

		/* previous link */
		li.bpn-prev-link {
			a {
				//background: url('../images/arrow_left.png') no-repeat 0 3px;
				//width: 15px;
				margin-top: 2px;
				&:hover,
				&:focus {}
			}
		}

		/* next page link */
		li.bpn-next-link {
			a {
				//background: url('../images/arrow_right.png') no-repeat 0 3px;
				//width: 15px; 
				margin-top: 2px;           
				&:hover,
				&:focus {}
			}
		}

		/* first page link */
		li.bpn-first-page-link {
			margin-right: 5px;
			a {
				//background: url('../images/arrow_first.png') no-repeat 0 3px;
				//width: 15px;
				margin-top: 2px;
				&:hover,
				&:focus {}
			}
		}

		/* last page link */
		li.bpn-last-page-link {
			margin-left: 5px;
			a {
				//background: url('../images/arrow_last.png') no-repeat 0 3px;
				//width: 15px;
				margin-top: 2px;
				&:hover,
				&:focus {}
			}
		}

	} /* end .bones_page_navi */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments {

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {} /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {}
	li.depth-4 {}
	li.depth-5 {}

	/* general comment classes */
	.alt {}
	.odd {
		background: #eee;
	}
	.even {
		background: #fefefe;
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} /* end .commentlist .vcard */


	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: #4598bb;
		padding: 3px 5px;
		color: #fff;
		opacity: 0.65;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
					-ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

	/* comment submit button */
	#submit {}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {
		text-align: center;
		ul {
			margin: 0;
			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

																										   
//  =====================
//  = My sidebar styles =
//  =====================

#sidebar-clients
{
	width: 184px;
	margin: 0 auto;
}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
}
	
/*
if you checked out the link above:
http://www.alistapart.com/articles/organizing-mobile/
you'll want to style the footer nav
a bit more in-depth. Remember to keep
it simple because you'll have to 
override these styles for the desktop
view.
*/
.footer-links {

	ul {
	
		li {}
	
	}
	
} /* end .footer-links */

			
.attribution {}

//  ====================
//  = my footer styles =
//  ====================

html, body, #container { height: 100%; } //position footer at bottom of page

#page-wrapper {
	//to position footer at bottom of page
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
	margin-bottom: -$footer-height;
}
#footer-pad {
	height: $footer-height;
}

#page-footer {
	background: url('../images/footer_gradient.png') repeat-x bottom;
	// height: 72px; /* must clear absolutely positioned html5 logo */
	height: $footer-height;
	width: 100%;
	z-index: 9000;
	padding: 2.2em 0 1em;
	#inner-footer {
		text-align: center;
		vertical-align: baseline;
		position: relative;
		font-size: 10px;
		line-height: 16.4px;
		color: $soft-gray;
		a, a:visited {
			color: $soft-gray;
			padding: 2.5px;
			/* on hover */
			&:hover, &:focus {
				color: lighten($soft-gray, 15%);
			}
		}       
		ul {
			margin: 0;
			li {
				&::after {
				content: "\25AA";
				// color: $soft-gray;
				margin: 0 2px;
				}
				&:last-child {
					&::after {
						/*  bug: use of "inline-block" causes 5px margin between elements that cannot be reset(!) */
						// http://css-tricks.com/fighting-the-space-between-inline-block-elements/
						margin: 0 0 0 2px;
						content: none;
					}
				}
			}
		}
		nav {
			display: inline-block;
		}       
		#attribution-links {
			display: inline-block;
			background: url('../images/footer_splash.png') no-repeat top;
			height: 37px;
			width: auto;
			padding-top: .8em;
			position: absolute;
			margin-top: 25px;
			margin-left: -87px; /* 1/2 width of element to be centered in px */
			left: 50%;          
			ul {
				li {
					float: left;
					&:last-child {
						&::after {
							//content: none;
						}
					}
					a
					{
						&::before
						{
							display: none;
						}
					}
				}               
			}
		}
	}
}
